html {
  font-size: 16px;
  box-sizing: border-box;
}

​*,
*::before,
*::after {
  font-size: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: none;
}

/*
*  Retina CSS
*/
/* @media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2) {
  html {
    font-size: 20px;
  }
} */
/*
*  Retina CSS
*/

div {
  margin-bottom: 20px;
}